body{
	font-family : 'Segoe UI';
}

input, button{
	font-family : 'Segoe UI';
}

.page-heading{
	
	margin-top : 30px;
	margin-bottom : 30px;
	
	text-align : center;
}

.nav-tabs{
	border-bottom : none;
}

ul.nav > li {
	padding : 7px 15px;
	border : 1px solid #ddd;
	
	border-radius : 5px;
	margin-right : 15px;
	margin-bottom : 15px;
	
	cursor : pointer;
	transition : all .4s;
}

ul.nav > li.active{
	background-color : #0275d8;
	border-color : #0275d8;
	
	color : #fff;
}

.results {
	margin-top : 30px;
	padding-bottom : 15px;
	margin-bottom : 15px;
	
	border-bottom : 1px solid #ddd;
}

.table > tbody > tr > td{
	vertical-align : middle;
}

img.thumb {
	max-width : 140px;
}

.top-mar-30{
	margin-top : 30px;
}

.progress-bar{
	transitiion : width .3s;
}