<html data-ng-app="downloader">
	<head>
		<title>Youtube Downloader</title>
		<link type="text/css" rel="stylesheet" href="resources/external/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="resources/app/css/style.css"/>
		
		<script src="resources/external/js/jquery-3.2.1.min.js"></script>
		<script src="resources/external/js/bootstrap.min.js"></script>
		<script src="resources/external/js/angular.min.js"></script>
		<script src="resources/app/controller/DownloadController.js"></script>
	</head>
	
	<body data-ng-controller="DownloadController">
		<div class="container">
			<h1 class="page-heading">Youtube Downloader</h1>
			
			<ul class="nav nav-tabs">
			  <li data-ng-repeat="menu in menus" data-ng-class="{ 'active' : isActive( $index )}" data-ng-click="setActive( $index )">
			  	<a data-ng-bind="menu.text"></a>
			 	</li>
			</ul>
			
			<div class="row" data-ng-if="isPlaylistDownloadActive()">
			  <div class="col-lg-12">
			    <div class="input-group">
			      <input type="text" class="form-control" data-ng-model="config.id" placeholder="Playlist ID">
			      <span class="input-group-btn">
			        <button class="btn btn-primary" data-ng-click="query()" type="button">Retrieve Info</button>
			      </span>
			    </div>
			  </div>
			  
			  <div class="col-lg-12">
			  
			  	<div class="row">
			  		<div class="col-lg-9">
			  			<h4 class="results">Playlist Videos</h4>
			  		</div>
			  		
			  		<div class="col-lg-3">
			  			<button type="button" class="top-mar-30 btn btn-primary btn-block" data-ng-click="downloadAll()">Download All</button>
			  		</div>
			  	</div>
			  	
			  	<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Image</th>
							<th>Title</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="result in results">
							<td data-ng-bind="$index + 1"></td>
							<td><img class="img-responsive thumb" data-ng-src="{{result.snippet.thumbnails.medium.url}}"></img></td>
							<td>
								<div data-ng-bind="result.snippet.title"></div>
								<div class="progress">
								  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: {{getDownloadProgress( result )}}">
								  </div>
								</div>
							</td>
							<td><button type="button" class="btn btn-primary" data-ng-click="download( result )">Download</button>
						</tr>
					</tbody>
				</table>
			  </div>
			</div>
			
			<div class="row" data-ng-if="!isPlaylistDownloadActive()">
			  <div class="col-lg-12">
			    <div class="input-group">
			      <input type="text" class="form-control" data-ng-model="config.url" placeholder="Video URL">
			      <span class="input-group-btn">
			        <button class="btn btn-primary" data-ng-click="download()" type="button">Download</button>
			      </span>
			    </div>
			  </div>
			</div>
		</div>
	</body>
</html>